@font-face {
  font-family: Inter;
  src: url("./Inter-VariableFont_slnt,wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body,
html,
main {
  background: #fefeff;
  width: 100%;
  height: 100%;
}

body .container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  background: transparent;
}
.view-mode body .container {
  background-color: #a7a7a7;
}

.no-overflow {
  overflow: hidden;
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

section {
  scroll-margin-top: 40px;
  padding: 80px 0px 80px 0px;
  border-width: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
section h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 80px;
}

body header {
  position: fixed;
  z-index: 10;
  padding: 10px;
  width: 100%;
  max-width: 100vw;
  transition: all 400ms cubic-bezier(0.5, 1.9, 0.1, 0.5);
}
.view-mode body header {
  background-color: #6f6f6f;
}
.dark body header {
  padding: 0px;
}

body header .header-container {
  will-change: transform;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  align-items: center;
  transition: all 400ms cubic-bezier(0.5, 1.9, 0.1, 0.5);
}
.dark body header .header-container {
  background-color: #333;
}
.dark body header .header-container {
  border-radius: 0px;
  width: 100%;
}
body header .header-container #icon-menu-mobile {
  height: 100%;
  padding: 0px 20px;
  cursor: pointer;
  display: none;
}
.view-mode body header .header-container #icon-menu-mobile {
  background-color: #8c8c8c;
}
body header .header-container #icon-menu-mobile svg {
  outline: none;
  width: 30px;
  height: 30px;
  fill: #333;
}
.dark body header .header-container #icon-menu-mobile svg {
  fill: #fff;
}
.view-mode body header .header-container #icon-menu-mobile svg {
  background-color: #535353;
}

body header .header-container .header-itens {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  height: 70px;
}
body header .header-container .header-itens #logo {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0px 20px;
  border-radius: 7px 0px 0px 7px;
  cursor: pointer;
  color: #333;
}
.view-mode body header .header-container .header-itens #logo {
  background-color: #c8c8c8;
}
.dark body header .header-container .header-itens #logo {
  color: #fff;
}

.dark body header nav {
  margin-top: 0px;
  border-radius: 0px;
}
body header nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}
.view-mode body header nav ul {
  background-color: #8c8c8c;
}
body header nav ul li {
  display: flex;
  align-items: stretch;
  height: 100%;
  padding: 0px 15px;
}
body header nav ul li:last-child {
  border-radius: 0px 7px 7px 0px;
}
body header nav ul li:hover {
  text-decoration: underline;
}
body header nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
}
.dark body header nav ul li a {
  color: #fff;
}
.view-mode body header nav ul li a {
  background-color: #c8c8c8;
}

body main .fundo1 {
  width: 100%;
  height: 100%;
  background-image: url(imagens/wallapper.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 3.2rem;
  color: rgba(255, 255, 255, 0.8);
}

#section1 .container-itens {
  gap: 10px;
}

#section1 .container-itens .box-itens {
  flex: 0 1 200px;
  flex-direction: column;
  align-items: center;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
#section1 .container-itens .box-itens .txt {
  color: #000;
}
.view-mode #section1 .container-itens .box-itens .txt {
  background-color: #8c8c8c;
}
#section1 .container-itens .box-itens a {
  background: #333;
  padding: 4px 9px;
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
.view-mode #section1 .container-itens .box-itens {
  background-color: #8c8c8c;
}
#section1 .container-itens .box-itens:hover {
  background: #f7f7f7;
  cursor: default;
}

#section1 .container-itens .box-itens .box-image {
  padding: 10px;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section1 .container-itens .box-itens .box-image img {
  height: 110px;
}
.view-mode #section1 .container-itens .box-itens .box-image img {
  background-color: #6f6f6f;
}

#section1 .container-itens .box-itens .bottom-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.view-mode #section1 .container-itens .box-itens .bottom-box {
  background-color: #6f6f6f;
}

#section2 {
  border-top: 2px dashed rgba(0, 0, 0, 0.05);
  border-bottom: 2px dashed rgba(0, 0, 0, 0.05);
}
#section2 .container-p-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.view-mode #section2 .container-p-image {
  background-color: #535353;
}
#section2 .container-p-image .box-right {
  flex: 1 1 300px;
  max-width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section2 .container-p-image .box-right img {
  max-height: 100%;
  max-width: 100%;
}
.view-mode #section2 .container-p-image .box-right {
  background-color: #8c8c8c;
}
#section2 .container-p-image .box-left {
  flex: 1 1 500px;
  display: flex;
  padding: 10px;
  align-items: end;
  flex-direction: column;
}
#section2 .container-p-image .box-left p {
  box-shadow: -2px 0px 10px #f5f5f5;
  font-size: 1.4rem;
  text-indent: 3rem;
  text-align: right;
  padding: 20px;
  border-radius: 0px 20px 20px 20px;
  color: #222;
}
.view-mode #section2 .container-p-image .box-left p {
  background-color: #c8c8c8;
}
#section2 .container-p-image .box-left span {
  padding: 10px;
  font-size: 2rem;
  margin: 30px 20px 20px 20px;
}
.view-mode #section2 .container-p-image .box-left span {
  background-color: #c8c8c8;
}
.view-mode #section2 .container-p-image .box-left {
  background-color: #6f6f6f;
}

#section3 .container-itens {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.view-mode #section3 .container-itens {
  background-color: #6f6f6f;
}

#section3 .conteudo .box-itens {
  display: flex;
  flex: 0 0 240px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 230px;
}
.view-mode #section3 .conteudo .box-itens {
  background-color: #8c8c8c;
}
#section3 .conteudo .box-itens .btn-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-mode #section3 .conteudo .box-itens .btn-link {
  background-color: #a7a7a7;
}
#section3 .conteudo .box-itens .btn-link a {
  background: green;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 100px;
}

.view-mode #section3 .box-itens img {
  background-color: #a7a7a7;
}

#section3 .box-itens ul {
  list-style: none;
  width: 100px;
}
#section3 .box-itens ul li {
  padding: 5px 0px;
}
.view-mode #section3 .box-itens ul {
  background-color: #c8c8c8;
}

#newsletter {
  background: green;
  min-height: 70px;
  padding: 0;
}
.view-mode #newsletter {
  background-color: #6f6f6f;
}
#newsletter .box-newsletter {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
#newsletter .box-newsletter span {
  white-space: nowrap;
}
.view-mode #newsletter .box-newsletter span {
  background-color: #8c8c8c;
}
#newsletter .box-newsletter #email {
  background: #fefeff;
  width: 300px;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  text-transform: lowercase;
  padding: 10px;
  border-radius: 100px;
  border: none;
  outline: none;
  height: 40px;
}
#newsletter .box-newsletter #email::-moz-placeholder {
  color: #333;
}
#newsletter .box-newsletter #email:-ms-input-placeholder {
  color: #333;
}
#newsletter .box-newsletter #email::placeholder {
  color: #333;
}

section#contato .container-contato .formulario {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  width: 600px;
}
section#contato .container-contato .formulario .input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-mode section#contato .container-contato .formulario .input-box {
  background-color: #6f6f6f;
  padding: 3px;
}
section#contato .container-contato .formulario .submit {
  justify-content: right;
}
section#contato .container-contato .formulario input, section#contato .container-contato .formulario textarea {
  width: 100%;
  outline: none;
  border: 3px solid black;
  padding: 10px;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  resize: vertical;
}
section#contato .container-contato .formulario input[type=submit] {
  border: none;
  background-color: green;
  color: #fff;
  width: 100px;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
}

.hidde {
  display: none;
}

.box_loader {
  position: fixed;
  z-index: 11;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}
.box_loader .txt-loading {
  color: #fff;
  margin-top: 10px;
}

.loader {
  width: 160px;
  height: 100px;
  position: relative;
}

.loader img {
  height: 100%;
}

.olho1 {
  position: absolute;
  background: white;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  top: 29px;
  left: 54px;
  -webkit-animation: olho1 1s infinite;
          animation: olho1 1s infinite;
}

.olho2 {
  position: absolute;
  background: white;
  width: 17px;
  height: 17px;
  border-radius: 100px;
  top: 27px;
  right: 55px;
  -webkit-animation: olho2 1s infinite;
          animation: olho2 1s infinite;
}

@-webkit-keyframes olho1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes olho1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes olho2 {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes olho2 {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
footer#rodape {
  background: #333;
  min-height: auto;
  color: rgb(165, 165, 165);
}
footer#rodape .container-rodape {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 0px 20px;
}
.view-mode footer#rodape .container-rodape {
  background-color: #6f6f6f;
}
footer#rodape .box {
  flex: 1 1 320px;
  font-size: 0.9rem;
  padding: 20px;
}
footer#rodape .left ul {
  list-style: none;
}
.view-mode footer#rodape .left ul {
  background-color: #8c8c8c;
}
footer#rodape .left ul li {
  display: flex;
  justify-content: center;
}
footer#rodape .left ul a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: rgb(165, 165, 165);
}
footer#rodape .left ul a:hover {
  color: green;
}
.view-mode footer#rodape .left {
  background-color: #c8c8c8;
}
footer#rodape .center .txt {
  background: cornflowerblue;
  padding: 10px;
  max-width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.03);
}
.view-mode footer#rodape .center .txt {
  background-color: #8c8c8c;
}
.view-mode footer#rodape .center {
  background-color: #a7a7a7;
}
footer#rodape .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
}
footer#rodape .right a {
  cursor: pointer;
  padding: 10px;
}
.view-mode footer#rodape .right a {
  background-color: #8c8c8c;
}
footer#rodape .right a img {
  fill: rgb(165, 165, 165);
  height: 30px;
}
.view-mode footer#rodape .right a img {
  background-color: #c8c8c8;
}
footer#rodape .linha {
  color: rgb(165, 165, 165);
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
  font-size: 0.9rem;
  margin-top: 20px;
  width: 100%;
  text-align: right;
}
footer#rodape .linha a {
  color: rgb(195, 195, 195);
}
footer#rodape .container-rodape .box:nth-child(even) {
  border-left: 3px dashed rgba(255, 255, 255, 0.05);
  border-right: 3px dashed rgba(255, 255, 255, 0.05);
}

.mostrar-menu-mobile {
  display: block;
}

[data-anime] {
  opacity: 0;
  transition: 0.5s;
}
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0, 0);
}

[data-anime=left] {
  transform: translate3d(-100px, 0, 0);
}

[data-anime=right] {
  transform: translate3d(100px, 0, 0);
}

[data-anime=top] {
  transform: translate3d(0, 100px, 0);
}

[data-anime=bottom] {
  transform: translate3d(0, -100px, 0);
}

#view-button-box {
  background-color: #333;
  position: fixed;
  z-index: 12;
  width: auto;
  height: 40px;
  bottom: 10px;
  right: 10px;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
#view-button-box img {
  height: 100%;
}

@media screen and (max-width: 1000px) {
  body header .header-container #icon-menu-mobile {
    display: flex;
  }
  body main .fundo1 {
    align-items: end;
  }
  body main .fundo1 .txt {
    padding: 40px;
    font-size: 2.3rem;
  }
  body main section {
    padding: 40px 10px;
  }
  body main section h1 {
    margin-bottom: 40px;
  }
  .view-mode body main section h1 {
    background-color: #8c8c8c;
  }
  body main .container {
    padding: 10px;
  }
  section#newsletter .box-newsletter {
    justify-content: center;
  }
  footer#rodape .container-rodape .box:nth-child(even) {
    border: none;
  }
  footer#rodape .linha {
    text-align: center;
  }
  body header nav {
    display: none;
    background-color: white;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    margin-top: 10px;
    border-radius: 7px;
  }
  .dark body header nav {
    background-color: rgb(55, 55, 55);
  }
  body header nav ul {
    width: 100%;
    flex-direction: column;
  }
  body header nav ul li {
    width: 100%;
    display: flex;
    padding: 0;
    height: 70px;
  }
  body header nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.03);
    text-decoration: none;
  }
  body header nav ul li a {
    width: 100%;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */